.container
  h1.text-center Madlibs
  ng-template('[ngIf]'='!ml.madlibReady || !ml.pronoun')
    app-listen(*ngIf="speech.speechSupported")
    app-keyboard(*ngIf="!speech.speechSupported")
  app-madlib(*ngIf='ml.madlibReady && ml.pronoun')